@font-face {
    font-family: 'Montserrat';
    src: url('path-to-font/Montserrat-Regular.ttf') format('truetype');
}
* {
    margin: 0;
}

body {
    background-color: #ececec;
    font-family: 'Montserrat', sans-serif;
}

.head-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}
header {
    height: 60px;
    width: 55%;
    display: flex;
    /* allows for wrapping when screen is narrow */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    /* border-bottom: 2px solid #000000; */
}
#header-logo {
    font-weight: 400;
    border-bottom: 2px solid #766dc1;
}
img {
    height: 30px;
}
.container {
    display: flex;
}
.nav-button {
    font-family: 'Montserrat';
    font-size: medium;
    background-color: transparent;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
}
.nav-button:hover {
    border-bottom: 2px solid #766dc1;
    transition-duration: .5s;
}
.nav-link {
    color: #000;
}
/* Responsiveness for header */
@media screen and (max-width: 768px) {
    #header-logo {
        margin-left: 0;
        text-align: center;
    }
    .nav-button {
        font-size: 0;
        color: transparent;
        padding: 5px;
    }
}


/* main {
} */
.section-one {
    position: absolute;
    /* This centers the box */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 450px;
    display: flex;
    /* This puts them on top of eachother */
    flex-direction: column;
    align-items: center;
}
/* This adds responsiveness to timer box */
@media screen and (max-width: 768px) {
    .section-one {
        width: 80%;
    }
}
@media screen and (max-width: 450px) {
    .section-one {
        width: 70%;
    }
}

.timer-box {
    height: 160px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer {
    font-size: 3rem;
    font-weight: bolder;
}
.play-button-box {
    margin-top: 50px;
}
.start-stop-button {
    height: 35px;
    width: 150px;
    font-family: 'Montserrat';
    font-size: 2rem;
    background-color: #ececec;
    border: 2px solid transparent;
}
.start-stop-button:hover {
    border-top: 2px solid #766dc1;
    transition-duration: 0.5s;
}
.reset-button {
    height: 35px;
    width: 150px;
    font-family: 'Montserrat';
    font-size: 2rem;
    background-color: #ececec;
    border: 2px solid transparent;
}
.reset-button:hover {
    border-top: 2px solid #766dc1;
    transition-duration: 0.5s;
}
