@font-face {
    font-family: 'Montserrat';
    src: url('path-to-font/Montserrat-Regular.ttf') format('truetype');
}
* {
    margin: 0;
}

body {
    background-color: #ececec;
    font-family: 'Montserrat', sans-serif;
}

.head-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}
header {
    height: 60px;
    width: 55%;
    display: flex;
    /* allows for wrapping when screen is narrow */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    /* border-bottom: 2px solid #000000; */
}
#header-logo {
    font-weight: 400;
    border-bottom: 2px solid #766dc1;
}
img {
    height: 30px;
}
.container {
    display: flex;
}
.nav-button {
    font-family: 'Montserrat';
    font-size: medium;
    background-color: transparent;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-button:hover {
    border-bottom: 2px solid #766dc1;
    transition-duration: .5s;
}

/* Settings side-bar popup */
.settings-bar {
    background-color: #d2d2d2;
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.3s linear;
    overflow: scroll;
}
.settings-bar .settings {
    padding: 0;
}
.settings .close-settings {
    font-size: 1.3em;
    padding: 1em;
    cursor: pointer;
}
.fa-times {
    margin-top: 0.5em;
}
.settings-container {
    display: flex;
    justify-content: center;
}
.settings-titlebox {
    width: 110px;
    align-items: center;
}
.settings-title {
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 2px solid #766dc1;
}
.settings-inputs {
    margin: 15px;
}
.settings-hours {
    border: 1px solid #000;
    border-radius: 5px;
}
.settings-minutes {
    border: 1px solid #000;
    border-radius: 5px;
}
.settings-seconds {
    border: 1px solid #000;
    border-radius: 5px;
}
.settings-bar.show-settings {
    transform: translateX(0);
}
.save-container {
    display: flex;
    justify-content: center;
}
.save-btn {
    font-family: 'Montserrat';
    font-size: larger;
    font-weight: 500;
    background-color: #d2d2d2;
    border: 2px solid transparent;
    cursor: pointer;
}
.save-btn:hover {
    border-bottom: 2px solid #766dc1;
    transition: 0.5s;
}

/* settings popup */
.settingsPopup {
    display: flex;
    justify-content: center;
}
.settings {
    height: 400px;
    width: 20%;
    min-width: 150px;
    background-color: #d2d2d2;
    border: 2px solid #000;
    border-radius: 10px;
    z-index: 10;
    display: none;
}
.settings.show-settings {
    display: block;  
}
.settings-titlebox {
    margin-top: 15px;
}
.settings-input {
    width: 70%;
    height: 2em;
    margin-top: 3px;
    border: 1px solid #000;
    border-radius: 5px;
}
.save-timer-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
#save-timer-btn {
    height: 35px;
    width: 65px;
    font-family: 'Montserrat';
    font-size: larger;
    font-weight: 500;
    background-color: #d2d2d2;
    border: 2px solid transparent;
    cursor: pointer;
}
#save-timer-btn:hover {
    border-bottom: 2px solid #766dc1;
    transition: .5s;
}




/* Profile side-bar popup */
.profile-bar {
    background-color: #d2d2d2;
    position: fixed;
    right: 0;
    top: 0;
    width: 20em;
    height: 100vh;
    border-left: 2px solid #000;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.3s linear;
    overflow: scroll;
}
.profile-bar .profile {
    padding: 0;
}
.profile .close-profile {
    font-size: 1.3em;
    padding: 1em;
    cursor: pointer;
}
.fa-times {
    margin-top: 0.5em;
}
.profile-container {
    display: flex;
    justify-content: center;
}
.profile-titlebox {
    width: 90px;
    align-items: center;
}
.profile-title {
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 2px solid #766dc1;
}
.profile-inputs {
    margin: 15px;
}
.profile-user .profile-pass {
    border: 1px solid #000;
    border-radius: 5px;
}
.profile-bar.show-profile {
    transform: translateX(0);
}
.login-container {
    display: flex;
    justify-content: center;
}
.login-btn {
    font-family: 'Montserrat';
    font-size: larger;
    font-weight: 500;
    background-color: #d2d2d2;
    border: 2px solid transparent;
    cursor: pointer;
}
.login-btn:hover {
    border-bottom: 2px solid #766dc1;
    transition: 0.5s;
}

.nav-link {
    color: #000;
}
/* Responsiveness for header */
@media screen and (max-width: 768px) {
    #header-logo {
        margin-left: 0;
        text-align: center;
    }
    .nav-button {
        font-size: 0;
        color: transparent;
        padding: 5px;
    }
}






/* main {
} */
.section-one {
    position: absolute;
    /* This centers the box */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 450px;
    min-width: 250px;
    display: flex;
    /* This puts them on top of eachother */
    flex-direction: column;
    align-items: center;
}
/* This adds responsiveness to timer box */
@media screen and (max-width: 768px) {
    .section-one {
        width: 80%;
        max-width: 450px;
    }
}
@media screen and (max-width: 450px) {
    .section-one {
        width: 70%;
    }
}

.timer-box {
    height: 160px;
    width: 100%;
    font-size: 4em;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-button-box {
    margin-top: 50px;
}
#start-stop-button {
    height: 35px;
    width: 150px;
    font-family: 'Montserrat';
    font-size: 2rem;
    background-color: #ececec;
    border: 2px solid transparent;
    cursor: pointer;
}
#start-stop-button:hover {
    border-top: 2px solid #766dc1;
    transition-duration: 0.5s;
}
.reset-button {
    height: 35px;
    width: 150px;
    font-family: 'Montserrat';
    font-size: 2rem;
    background-color: #ececec;
    border: 2px solid transparent;
    cursor: pointer;
}
.reset-button:hover {
    border-top: 2px solid #766dc1;
    transition-duration: 0.5s;
}
